@page
@model BeautyLand.AdministratorEndPoint.Pages.Discounts.CreateModel
@{
}
@section Links {
    <link href="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <link href="~/Sweetalert/sweetalert2.min.css" rel="stylesheet" />
}

<div id="ftFormTwoArray" class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <!-- Header content can go here (if needed) -->
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area custom-autocomplete h-100">
            <form id="createForm" class="form" asp-antiforgery="true">

                <!-- Name -->
                <div class="form-group col-md-4 mb-4">
                    <label for="basicInput">نام تخفیف</label>
                    <input type="text" class="form-control" asp-for="Model.Name" placeholder="نام تخفیف را وارد نمایید">
                    <span asp-validation-for="Model.Name" class="text-danger"></span>
                </div>

                <!-- Start Date -->
                <div class="form-group col-md-4 mb-4">
                    <label for="StartDate">تاریخ اعتبار</label>
                    <input type="text" asp-for="Model.StartDate" id="StartDate" class="form-control" placeholder="تاریخ را وارد نمایید">
                    <span asp-validation-for="Model.StartDate" class="text-danger"></span>
                </div>

                <!-- End Date -->
                <div class="form-group col-md-4 mb-4">
                    <label for="EndDate">تاریخ انقضا</label>
                    <input type="text" asp-for="Model.EndDate" id="EndDate" class="form-control" placeholder="تاریخ را وارد نمایید">
                    <span asp-validation-for="Model.EndDate" class="text-danger"></span>
                </div>

                <!-- Discount Code -->
                <div class="form-group col-md-4 mb-4">
                    <label for="basicInput">کوپن تخفیف</label>
                    <input type="text" asp-for="Model.DiscountCode" class="form-control" placeholder="کوپن را وارد نمایید">
                    <span asp-validation-for="Model.DiscountCode" class="text-danger"></span>

                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <div class="n-chk align-self-end">
                                    <label class="new-control new-checkbox checkbox-danger">
                                        <input type="checkbox" asp-for="Model.UseCouponCode" class="new-control-input">
                                        <span class="new-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="استفاده از کوپن تخفیف" aria-label="checkbox">
                        <span asp-validation-for="Model.UseCouponCode" class="text-danger"></span>
                    </div>
                </div>

                <!-- Discount Percentage -->
                <div class="form-group col-md-4 mb-4">
                    <label for="basicInput">درصد تخفیف</label>
                    <input type="number" asp-for="Model.DiscountPercentage" class="form-control" placeholder="درصد را وارد نمایید">
                    <span asp-validation-for="Model.DiscountPercentage" class="text-danger"></span>

                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <div class="n-chk align-self-end">
                                    <label class="new-control new-checkbox checkbox-danger">
                                        <input type="checkbox" asp-for="Model.UsePercentage" class="new-control-input">
                                        <span class="new-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="استفاده از درصد تخفیف" aria-label="checkbox">
                        <span asp-validation-for="Model.UsePercentage" class="text-danger"></span>
                    </div>
                </div>

                <!-- Discount Amount -->
                <div class="form-group col-md-4 mb-4">
                    <label for="basicInput">مبلغ تخفیف</label>
                    <input type="number" asp-for="Model.DiscountAmount" class="form-control" placeholder="مبلغ را وارد نمایید">
                    <span asp-validation-for="Model.DiscountAmount" class="text-danger"></span>

                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <div class="n-chk align-self-end">
                                    <label class="new-control new-checkbox checkbox-danger">
                                        <input type="checkbox" asp-for="Model.UseAmount" class="new-control-input">
                                        <span class="new-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="استفاده از مبلغ" aria-label="checkbox">
                        <span asp-validation-for="Model.UseAmount" class="text-danger"></span>
                    </div>
                </div>

                <!-- Discount Type -->
                <div class="form-group col-md-4 mb-4">
                    <label asp-for="Model.DiscountTypeId">نوع تخفیف</label>
                    <select asp-for="Model.DiscountTypeId" class="form-control" asp-items="@Html.GetEnumSelectList<BeautyLand.Domain.Discounts.DiscountType>()"></select>
                    <span asp-validation-for="Model.DiscountTypeId" class="text-danger"></span>
                </div>

                <!-- Discount Limitation Type -->
                <div class="form-group col-md-4 mb-4">
                    <label asp-for="Model.DiscountLimitationTypeId">محدودیت تخفیف</label>
                    <select asp-for="Model.DiscountLimitationTypeId" class="form-control" asp-items="@Html.GetEnumSelectList<BeautyLand.Domain.Discounts.DiscountLimitationType>()"></select>
                    <span asp-validation-for="Model.DiscountLimitationTypeId" class="text-danger"></span>
                </div>

                <!-- Limitation Time -->
                <div class="form-group col-md-4 mb-4">
                    <label asp-for="Model.LimitationTime">محدودیت زمانی</label>
                    <input type="number" class="form-control" asp-for="Model.LimitationTime">
                    <span asp-validation-for="Model.LimitationTime" class="text-danger"></span>
                </div>

                <!-- Users -->
                @*<div class="form-group col-md-4 mb-4">
                        <label asp-for="Model.Users">کاربر</label>
                        <select asp-for="Model.Users" class="form-control" id="Users" placeholder="کاربر  مورد نظر خود را انتخاب کنید"></select>
                        <span asp-validation-for="Model.Users" class="text-danger"></span>
                    </div>*@

                <!-- Brands -->
                @*<div class="form-group col-md-4 mb-4">
                        <label asp-for="Model.Brands">برند</label>
                        <select asp-for="Model.Brands" class="form-control" id="Brands" placeholder="برند مورد نظر خود را انتخاب کنید"></select>
                        <span asp-validation-for="Model.Brands" class="text-danger"></span>
                    </div>*@

                <!-- Types -->
                @*<div class="form-group col-md-4 mb-4">
                        <label asp-for="Model.Types">دسته بندی</label>
                        <select asp-for="Model.Types" class="form-control" id="Types" placeholder="دسته بندی مورد نظر خود را انتخاب کنید"></select>
                        <span asp-validation-for="Model.Types" class="text-danger"></span>
                    </div>*@

                <!-- Items -->
                <div class="form-group col-md-4 mb-4">
                    <label asp-for="Model.Items">محصولات</label>
                    <select asp-for="Model.Items" class="form-control" id="Items" placeholder="محصول مورد نظر خود را انتخاب کنید"></select>
                    <span asp-validation-for="Model.Items" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="form-group mb-4 text-center">
                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary col-md-6">ثبت</button>
                    </fieldset>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Sweetalert/sweetalert2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#createForm").on("submit", function (e) {
                e.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("Create")',
                    data: formData,
                    success: function (response) {
                        // Show success alert
                        Swal.fire({
                            title: 'موفق!',
                            text: ' با موفقیت ثبت شد',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Page("Index")';
                            }
                        });
                    },
                    error: function (xhr) {
                        // Show error alert
                        Swal.fire({
                            title: 'هشدار!',
                            text: 'ثبت نشد',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });

        // Your existing scripts remain here...
    </script>

    <script src="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.js"></script>

    <script>
        $('#StartDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDate',
            toDate: true,
            groupId: 'rangeSelector1',
            placement: 'top',
            enableTimePicker: true,
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            modalMode: true
        });

        $('#EndDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDate',
            toDate: true,
            groupId: 'rangeSelector1',
            placement: 'top',
            enableTimePicker: true,
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            modalMode: true
        });
    </script>
    <script src="~/lib/select2/js/select2.js"></script>

    @*<script>
            $("#Users").select2({
                allowClear: true,
                multiple: true,
                tags: true,
                tokenSeparators: [',', ' '],
                theme: "bootstrap4",
                ajax: {
                    url: "/api/Discount/SearchUser",
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (user) {
                                return {
                                    id: user.id,
                                    text: user.name
                                };
                            }),
                        };
                    }
                }
            });
        </script>
        <script>
            $("#Brands").select2({
                allowClear: true,
                multiple: true,
                tags: true,
                tokenSeparators: [',', ' '],
                theme: "bootstrap4",
                ajax: {
                    url: "/api/Discount/SearchBrand",
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (brand) {
                                return {
                                    id: brand.id,
                                    text: brand.name
                                };
                            }),
                        };
                    }
                }
            });
        </script>
        <script>
            $("#Types").select2({
                allowClear: true,
                multiple: true,
                tags: true,
                tokenSeparators: [',', ' '],
                theme: "bootstrap4",
                ajax: {
                    url: "/api/Discount/SearchType",
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (type) {
                                return {
                                    id: type.id,
                                    text: type.name
                                };
                            }),
                        };
                    }
                }
            });
        </script>*@
    <script>
        $("#Items").select2({
            allowClear: true,
            multiple: true,
            tags: true,
            tokenSeparators: [',', ' '],
            theme: "bootstrap4",
            ajax: {
                url: "/api/Discount/SearchItem",
                contentType: "application/json; charset=utf-8",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.id,
                                text: item.name
                            };
                        }),
                    };
                }
            }
        });
    </script>

}